@mixin imgBox($imgName) {
  width: calc(100% / 2 - 20px);
  height: 400px;
  padding: $p-1;
  background-image: url(../../img/#{$imgName});
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: 776px) {
    height: 200px;
  }

  @media (max-width: 400px) {
    width: 100%;
    height: 250px;
  }
}
